.albumImage {
    width: 80%;
    align-items:center;
    justify-content: center;
    position: relative;

  }
  
  .albumImage img {
    border-radius: 5px;
    width: 70%;
    margin: 10%;
    margin-bottom: 0%;
    aspect-ratio: 1;

    position: relative;
  }
  